@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@import "tailwindcss";



body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}


.text-gradient-animated {
  background: linear-gradient(90deg, #284885, white, #2a4d8e, white, #284885);
  background-size: 300% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientText 6s linear infinite;
}

@keyframes gradientText {
  0% { background-position: 0% center; }
  100% { background-position: 100% center; }
}